  <div class="contents row" >
    <% @artists.each do |artist| %>
      <div class="name">
      <%= link_to artist.artist_name,artist_path(artist) %>
      </div>
      <div class="name2">
      <%= link_to "お気に入りに登録", add_artist_path(artist), method: :post %>
        </div>
      <div class="content_post" style="background-image: url(<%= artist.artist_image_url %>);">
      </div>
    <% end %>
  </div>
