  <div class="contents row" >
    <div class="name">
      <%= @artist.artist_name %>
            <input type="submit" value="お気に入りに登録">
    </div>
      <div class="content_post" style="background-image: url(<%= @artist.artist_image_url %>);">
      </div>


    </div>