<div class="contents row">
    <div class="success">
      <h2>
        イベント登録が完了しました。
      </h2>
      <%= link_to 'イベント一覧へ戻る', events_path, {class: 'btn btn-primary withripple' }%>
  </div>
    </div>