<% if user_signed_in? %>
  <div class="contents row">
    <div class="success">
      <h2>
        更新が完了しました。
      </h2>
      <%= link_to 'イベント一覧へ戻る', events_path, {class: 'btn btn-primary withripple' }%>
    </div>
  </div>
<% end %>