<div class="page-header">
  <h2>お問い合わせ</h2>
</div>
<div class="name4">
  お問い合わせいただきありがとうございました。
</div>
<br/>
<%= link_to "トップページに戻る", root_path, { class: "btn btn-lg btn-primary withripple" } %>
<br/>