<% if user_signed_in? %>
<div class="contents row">
      <h2>
        エラーが発生しました。
      </h2>
      <div class ="name2">
      入力必須項目に漏れはありませんか?<br/>
      <%= link_to '新規イベント登録へ戻る', new_event_path, {class: 'btn btn-primary withripple' }%>
    </div>
</div>
<% end %>